services:
  postgres:
    image: postgres:16
    container_name: clash-db
    environment:
      POSTGRES_DB: clash
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data